<template>
    <div class="box">
        <label class="label">First name</label>
        <input  type="text" v-model="first_name">
        <label class="label">Last name</label>
        <input type="text" v-model="last_name">
        <label class="label">Country</label>
        <input type="text" v-model="country">
        <label class="label">Date of birth</label>
        <datepicker v-model="date_of_birth"></datepicker>
        <button class="button is-primary addButton" v-on:click="add">
            Add
        </button>
    </div>
</template>

<script>
    import patient_storage from './storage/patient.js'
    import Datepicker from 'vuejs-datepicker';


    export default {
        name: 'add_patient_form',
        components: {
            Datepicker
        },
        data: function () {
            return {
                first_name: null,
                last_name: null,
                date_of_birth: null,
                country: null,
                patient_storage: patient_storage
            }
        },
        methods: {
            add: function () {
                let date_formated = this.date_of_birth.toISOString().substring(0, 10);
                let data = {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    date_of_birth: date_formated,
                    country: this.country
                };
                this.patient_storage.add(data)
            }
        }
    };
</script>

<style lang="sass" scoped>

    .addButton
        margin: 15px

</style>