<template>
    <div class="box">
        <label class="label">First name</label>
        <input  type="text" v-model="first_name">
        <label class="label">Last name</label>
        <input type="text" v-model="last_name">
        <button class="button is-primary addButton" v-on:click="add">
            Add
        </button>
    </div>
</template>

<script>
    import carer_storage from './storage/carer.js'


    export default {
        name: 'add_carer_form',
        data: function () {
            return {
                first_name: null,
                last_name: null,
                date_of_birth: null,
                country: null,
                carer_storage: carer_storage
            }
        },
        methods: {
            add: function () {
                let data = {
                    first_name: this.first_name,
                    last_name: this.last_name
                };
                this.carer_storage.add(data)
            }
        }
    };
</script>

<style lang="sass" scoped>

    .addButton
        margin: 15px

</style>