<template>
    <div class="tab-content">
        <add_carer_form></add_carer_form>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, index) in this.data_storage.objects">
                <td>{{index + 1}}</td>
                <td>{{row.first_name}}</td>
                <td>{{row.last_name}}</td>
                <td>
                    <button class="button" v-on:click="remove(row.id)">
                        remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    import carer_storage from './storage/carer.js'
    import add_carer_form from './add_carer_form.vue'

    export default {
        name: 'carer_list',
        components:{
            add_carer_form
        },
        data: function () {
            return {
                data_storage: carer_storage,
            }
        },
        created: function () {
            this.data_storage.get();
        },
        methods: {
            remove: function (carer_id) {
                this.data_storage.remove(carer_id)
            }
        }
    };
</script>