<template>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Patient carers</p>
                <button class="delete"
                        aria-label="close"
                        v-on:click="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="box">
                    <select v-model="selected_id">
                        <option disabled value="">Please select carer</option>
                        <option v-for="carer in this.carer_storage.objects" :value="carer.id">{{parseName(carer)}}
                        </option>
                    </select>
                    <button class="button is-primary addButton is-pulled-right"
                            v-on:click="add">
                        Add carer to patient
                    </button>
                </div>
                <table class="table is-striped is-fullwidth">
                    <thead>
                    <tr>
                        <th></th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(row, index) in this.patient_carer_storage.objects">
                        <td>{{index + 1}}</td>
                        <td>{{row.first_name}}</td>
                        <td>{{row.last_name}}</td>
                        <td>
                            <button class="button" v-on:click="remove(row.id)">
                                remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <footer class="modal-card-foot">
                <button class="button"
                        v-on:click="close">Close
                </button>
            </footer>
        </div>
    </div>
</template>

<script>
    import patient_carer_storage from './storage/patient_carer.js'
    import carer_storage from './storage/carer.js'


    export default {
        name: 'patient_carers_modal',
        props: ['patient_id'],
        data: function () {
            return {
                patient_carer_storage: patient_carer_storage,
                carer_storage: carer_storage,
                selected_id: ""
            }
        },
        created: function () {
            this.patient_carer_storage.get(this.patient_id);
            this.carer_storage.get();
        },
        methods: {
            add: function () {
                if (this.selected_id === "") {
                    return;
                }
                this.patient_carer_storage.add(this.patient_id, this.selected_id);
            },
            remove: function (carer_id) {
                this.patient_carer_storage.remove(this.patient_id, carer_id);
            },
            parseName: function (carer) {
                return carer.first_name + ' ' + carer.last_name;
            },
            close: function () {
                this.$emit('close');
            }
        }
    };
</script>