<template>
    <div class="tab-content">
        <patient_carers_modal
                v-on:close="closeModal"
                :patient_id="choosenPatientId"
                v-if="modal_is_active"></patient_carers_modal>
        <add_patient_form></add_patient_form>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Country of residence</th>
                <th>Date of birth</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, index) in this.patient_data_storage.objects">
                <td>{{index + 1}}</td>
                <td>{{row.first_name}}</td>
                <td>{{row.last_name}}</td>
                <td>{{row.country}}</td>
                <td>{{row.date_of_birth}}</td>
                <td>
                    <button class="button" v-on:click="remove(row.id)">
                        remove
                    </button>
                </td>
                <td>
                    <button class="button" v-on:click="showCarers(row.id)">
                        show carers
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import patient_data_storage from './storage/patient.js'
    import add_patient_form from './add_patient_form.vue'
    import patient_carers_modal from './patient_carers_modal.vue'

    export default {
        name: 'patient_list',
        components: {
            add_patient_form,
            patient_carers_modal
        },
        data: function () {
            return {
                patient_data_storage: patient_data_storage,
                modal_is_active: false,
                choosenPatientId : null
            }
        },
        created: function () {
            this.patient_data_storage.get();
        },
        methods: {
            remove: function (patient_id) {
                this.patient_data_storage.remove(patient_id)
            },
            showCarers: function (patient_id) {
                this.choosenPatientId = patient_id;
                this.modal_is_active = true;
            },
            closeModal: function () {
                this.modal_is_active = false;
            }
        }
    };
</script>